@use './functions' as *;

$laptop: 1440;
$tablet: 1024;
$mobile: 768;
$mobile-s: 420;

@mixin between($min, $max) {
  @media (width > rem($min)) and (width <= rem($max)) {
    @content;
  }
}

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= rem($laptop)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > rem($mobile)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > rem($mobile-s)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= rem($mobile-s)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
