@use '../helpers/' as *;
@use '../variables/' as root;

.fight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: rem(80);
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }

  &__image-container {
    max-width: rem(260);
  }

  &__image {
    border: root.$border-default;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: rem(15);
  }

  &__panel-container {
    display: flex;
    flex-direction: column;
    row-gap: rem(25);
    padding-inline: rem(40);
  }

  &__panel-title {
    font-size: rem(24);
  }

  &__buttons {
    display: flex;
    column-gap: rem(10);
  }

  &__button {
    padding: rem(12) rem(24) rem(11) rem(24);
  }

  &__buttons-container {
    display: flex;
  }

  &__fight-button {
    display: flex;
    align-self: flex-start;
    background-color: root.$color-dark;
    padding: rem(16) rem(24) rem(15) rem(24);
    margin-right: rem(10);
    border: none;
    border-radius: rem(50);
    color: root.$color-ligth;

    &:disabled {
      background-color: #555555;
      cursor: not-allowed;
    }
  }

  &__reload-button {
    display: flex;
    align-self: flex-start;
    background-color: root.$color-dark;
    padding: rem(16) rem(24) rem(15) rem(24);
    border: none;
    border-radius: rem(50);
    color: root.$color-ligth;
  }

  &__reset-button {
    display: flex;
    align-self: flex-start;
    background-color: root.$color-dark;
    padding: rem(16) rem(24) rem(15) rem(24);
    margin-right: rem(29);
    border: none;
    border-radius: rem(50);
    color: root.$color-ligth;
  }
}
