@use '../helpers/' as *;
@use '../variables/' as root;

.fight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: rem(80);
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }

  &__image-container {
    max-width: rem(260);
  }

  &__image {
    border: root.$border-default;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(20);
    padding-inline: rem(40);
  }

  &__panel-title {
    font-size: rem(24);
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }

  &__button {
    width: rem(120);
    height: rem(42);
  }

  &__fight-button {
    display: flex;
    align-self: center;
    background-color: root.$color-dark;
    padding: rem(20) rem(26) rem(21) rem(25);
    border: none;
    border-radius: rem(50);
  }

  &__reset-button {
    display: flex;
    align-self: center;
    background-color: root.$color-dark;
    padding: rem(20) rem(26) rem(21) rem(25);
    background-image: url(/not-a-fight-club/src/assets/images/fight/spiral.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: rem(51);
    border: none;
    border-radius: rem(50);
  }
}
