@use '../helpers/' as *;
@use '../variables/' as root;

.fight {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: rem(40);
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    transition: all 0.2s ease;
  }

  &__image-container {
    position: relative;
    max-width: rem(260);
  }

  &__image {
    border: root.$border-default;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: rem(15);

    &-tooltip-container {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: rem(7);
      cursor: default;
    }

    &-info {
      display: inline-flex;
      align-items: center;
      width: rem(20);
      height: rem(20);
      border: none;
      background-color: transparent;
      cursor: default;

      & svg {
        opacity: 0.7;
        transition: opacity 0.2s ease;
      }
    }

    &-tooltip {
      position: absolute;
      bottom: rem(8);
      left: 97%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease;
    }

    &-tooltip-container:hover .fight__panel-tooltip,
    &-tooltip-container button:focus + .fight__panel-tooltip {
      opacity: 1;
      visibility: visible;
    }

    &-tooltip-container:hover svg,
    &-tooltip-container button:focus svg {
      opacity: 1;
    }

    &-versus {
      padding-bottom: rem(10);
      font-size: rem(40);

      &--player {
        position: absolute;
        top: rem(9);
        right: 60%;
        transform: translateX(10%);
        font-size: rem(26);
        text-wrap: nowrap;
      }

      &--enemy {
        position: absolute;
        top: rem(9);
        left: 57%;
        font-size: rem(26);
        text-wrap: nowrap;
      }

      &-button {
        position: absolute;
        top: rem(9);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-description {
      display: flex;
      justify-content: center;
      max-width: rem(539.08);
      font-family: root.$font-family-accent;
      font-size: rem(18);
      line-height: 0.9;
      text-align: center;
      padding-bottom: rem(15);
    }

    &-button {
      display: flex;
      background-color: root.$color-dark;
      padding: rem(16) rem(24) rem(15) rem(24);
      border: root.$border-default;
      border-radius: rem(50);
      color: root.$color-ligth;

      @include hover(false) {
        & {
          background-color: root.$color-ligth;
          border: root.$border-default;
          color: root.$color-dark;
        }
      }
    }

    &-checkbox {
      position: absolute;
      right: 2%;
      bottom: 5%;

      &-input {
        @include visually-hidden;
      }

      &-text {
        position: relative;
        display: flex;
        align-items: center;
        font-family: root.$font-family-accent;
      }

      &-text::before {
        content: '';
        display: inline-block;
        width: rem(12);
        height: rem(12);
        background-color: transparent;
        border: rem(1) solid root.$color-dark;
        border-radius: rem(3);
        margin-right: rem(5);
      }

      &-text::after {
        content: '';
        position: absolute;
        left: rem(1);
        top: 35%;
        transform: translateY(-40%);
        width: rem(10);
        height: rem(11);
        background-image: url(../../assets/images/fight/check.svg);
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &-input:checked + &-text::after {
        opacity: 1;
      }

      &-input:checked + &-text::before {
        scale: 1.05;
      }
    }
  }

  &__panel-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline: rem(40);

    &--description {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--fight {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(25);
    }
  }

  &__panel-title {
    font-size: rem(24);
  }

  &__buttons {
    display: flex;
    column-gap: rem(10);
  }

  &__button {
    padding: rem(12) rem(24) rem(11) rem(24);
  }

  &__buttons-container {
    display: flex;
  }

  &__tooltip-container {
    position: relative;
  }

  &__tooltip {
    position: absolute;
    top: 90%;
    left: 80%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
  }

  &__fight-button {
    display: flex;
    align-self: flex-start;
    background-color: root.$color-dark;
    padding: rem(16) rem(24) rem(15) rem(24);
    margin-right: rem(10);
    border: root.$border-default;
    border-radius: rem(50);
    color: root.$color-ligth;
    transition: all 0.3s ease;

    &:disabled {
      background-color: #555555;
      border: rem(2) solid #555555;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      color: root.$color-dark;
      background-color: root.$color-ligth;
      border: root.$border-default;
    }

    &:not(:disabled):active {
      scale: 0.95;
    }
  }

  &__fight-button:disabled:hover + .fight__tooltip {
    opacity: 1;
    visibility: visible;
  }

  &__reload-button {
    display: flex;
    align-self: flex-start;
    background-color: root.$color-dark;
    padding: rem(16) rem(24) rem(15) rem(24);
    border: root.$border-default;
    border-radius: rem(50);
    color: root.$color-ligth;
    transition: all 0.3s ease;

    &:hover {
      color: root.$color-dark;
      background-color: root.$color-ligth;
      border: root.$border-default;
    }

    &:active {
      scale: 0.95;
    }
  }

  &__reset-button {
    display: flex;
    align-self: flex-start;
    background-color: root.$color-dark;
    padding: rem(16) rem(24) rem(15) rem(24);
    margin-right: rem(29);
    border: root.$border-default;
    border-radius: rem(50);
    color: root.$color-ligth;

    &:disabled {
      background-color: #555555;
      border: rem(2) solid #555555;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      color: root.$color-dark;
      background-color: root.$color-ligth;
      border: root.$border-default;
    }

    &:not(:disabled):active {
      scale: 0.95;
    }
  }

  &__hint-container {
    position: absolute;
    left: 40%;
    bottom: 70%;
    transform: translate(12%, 3%);

    &--enemy {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease;
    }

    &--player {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease;
    }
  }
}

@keyframes hint-movement {
  from {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  to {
    transform: translate(20%, -20%);
    opacity: 0;
    visibility: hidden;
  }
}

.fight__hint-container--enemy:has(> .fight__hint-enemy[src]) {
  animation: hint-movement 1.2s ease-in-out;
}

.fight__hint-container--player:has(> .fight__hint-player[src]) {
  animation: hint-movement 1.2s ease-in-out;
}
