@use '../helpers/' as *;
@use '../variables/' as root;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: rem(50);

  &__logo {
    max-width: rem(126);
    text-align: center;
    line-height: 1;
  }

  &__nav {
    display: flex;
    background-color: root.$color-dark;
    border-radius: rem(50);
    padding: rem(20) rem(25);
    z-index: 2;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(20);
  }

  &__item {
    display: flex;
    transition: scale 0.2s ease;

    @include square(26px);
  }

  &__link {
    width: 100%;

    @include hover() {
      &:not(.disabled) {
        scale: 1.2;
      }
    }
  }
}
