@use '../helpers/' as *;
@use '../variables/' as root;

.header {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: rem(50);

  &__logo {
    font-family: 'JujutsuKaisenTitles', sans-serif;
    font-size: rem(28);
    font-weight: 600;
    max-width: rem(114);
    text-align: center;
    line-height: 0.9;
  }

  &__nav {
    display: flex;
    background-color: root.$color-dark;
    border-radius: rem(50);
    padding: rem(20) rem(25);
    z-index: 2;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(20);
  }

  &__item {
    display: flex;
    transition: scale 0.2s ease;

    @include square(26px);
  }

  &__link {
    width: 100%;

    @include hover() {
      &:not(.disabled) {
        scale: 1.2;
      }
    }
  }

  &__close-button--characters {
    display: flex;
    background-color: transparent;
    border: none;
    width: 100%;

    @include hover() {
      &:not(.disabled) {
        scale: 1.2;
      }
    }
  }

  &__close-button--settings {
    display: flex;
    background-color: transparent;
    border: none;
    width: 100%;

    @include hover() {
      &:not(.disabled) {
        scale: 1.2;
      }
    }
  }
}
