@use '../helpers/' as *;
@use '../variables/' as root;

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__title {
    font-family: 'JujutsuKaisenTitles', sans-serif;
    font-size: rem(84);
    max-width: rem(332);
    line-height: 0.8;
    width: 100%;
    text-align: center;
    padding-bottom: rem(45);
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__button-fight {
    max-width: rem(270);
    width: 100%;
    margin-bottom: rem(15);
  }

  &__button-chars {
    max-width: rem(270);
    width: 100%;
    margin-bottom: rem(15);
  }

  &__button-settings {
    max-width: rem(270);
    width: 100%;
  }

  &__greeting {
    font-family: 'JujutsuKaisen', sans-serif;
    font-size: rem(24);
    padding-bottom: rem(20);
  }
}
