@use '../helpers/' as *;
@use '../variables/' as root;

.logs {
  max-width: rem(1120);
  width: 100%;
  height: auto;
  padding: rem(20) rem(30);
  border: root.$border-default;
  background-color: root.$color-ligth;

  &__list {
    height: rem(190);
    overflow-y: auto;
  }

  &__item {
    font-family: root.$font-family-accent;
    margin-bottom: rem(10);
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__accent {
    font-family: root.$font-family-base;
    font-size: rem(18);
  }
}
