@font-face {
  font-family: "JujutsuKaisen";
  src: url(../assets/fonts/LuckiestGuy.woff2) format('woff2');
}

@font-face {
  font-family: "NATS";
  src: url(../assets/fonts/NATS.woff2) format('woff2');
}