@font-face {
  font-family: 'JujutsuKaisenTitles';
  src: url(../assets/fonts/JujutsuKaisen.ttf) format('truetype');
}

@font-face {
  font-family: 'JujutsuKaisen';
  src: url(../assets/fonts/LuckiestGuy.woff2) format('woff2');
}

@font-face {
  font-family: 'NATS';
  src: url(../assets/fonts/NATS.woff2) format('woff2');
}
