@use 'helpers' as *;

$color-dark: #272727;
$color-ligth: #fff;
$color-placeholder: #949494;

$border-default: rem(2) solid #272727;
$border-light: rem(1) solid #272727;

$font-family-base: 'JujutsuKaisen', sans-serif;
$font-family-accent: 'NATS', sans-serif;

$backgound-main: url(../assets/images/backgrounds/background-1.webp);
$backgound-fight: url(../assets/images/backgrounds/background-2.webp);

$transition-duration: 0.2s;

$container-width: rem(1440);
